.form {
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 100vh;
  max-width: rem(600px);
  padding-top: rem(80px);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    max-width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}

.wrapper {
  min-height: rem(800px);
  background-size: cover;
  background-image: url(/images/loginbg.png);
}