.contentWrapper {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--mantine-color-text);
}

.contentWrapper:hover {
    cursor: pointer;
    border-radius: var(--mantine-radius-sm);
}
